body{
    background: #F2F2F2;
    max-width: 1920px;
    height: 7170px;
    position: absolute;
}
.block1{
    width: 1900;
    height: 1200px;
    background-color: black;
    margin: -10px 0 0 -10px;
}
.imgMain{
    width: 1900px;
    height: 920px;
    padding-top: 140px;
}
.b{
    width: 100px;
}