 body{
    background: linear-gradient(90deg, #363636 0%, #68686b 35%, #a8a9aa 100%);
    font-family: Playfair Display;
    height: 100%;
    align-items: center;
}
.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;   
    background: #575656;
}
.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.content {
    min-height: calc(100vh - 150px);
    display: flex;
    flex: 1 0 auto;
    align-items: center;
    justify-content: space-around;
}
.aboutus{
    display: flex;
    height: 60px;
    width: 100%;
    align-items: center;
    background: linear-gradient(90deg, #575656 0%, #68686b 35%, #a8a9aa 100%);
    margin-left: 5%;
    font-size: 24px;
    color: #9b9b9b;
}
.phone{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.phone_number{
    color: #d1cccc;
}
.phone_link{
    text-decoration: none;
}
.sq{
    color: #d1cccc;
    padding-left: 40px;
}
.forgot{
    position: relative;
    color: #9b9b9b;
    top: 60px;
}
.GW{
    height: 60px;
    background: #575656;
    font-size: 28px;
    line-height: 10%;
    padding-left: 5px;
}
.lnk{
line-height: 100%;
color: #d1cccc;
}
.pass{
    height: 40px;
    width: 190px;
    border-radius: 20px;
    background: url("../pictures/pass.png") no-repeat scroll 7px 7px #b8b5b5;
    background-size: 20px;
    padding-left: 30px;
}
.Entrance{
    height: 40px;
    width: 150px;
    border-radius: 20px;
    background: #b8b5b5;
}
.email{    
    height: 40px;
    width: 190px;
    border-radius: 20px;
    background: url("../pictures/email.png") no-repeat scroll 7px 7px #b8b5b5;
    background-position:8px;
    background-size: 20px;
    padding-left: 30px;
}
.regi{
    font-size: 24px;
    color: #d1cccc;
    
}
.main_content{
    width: 600px;
    height: 450px;
    background: url("../pictures/dumbbells-woman-exercise.jpg");
    background-size: 880px;
    border-radius: 80px; 
    align-items: center;

}
.create{
    position: relative;
    top: 80px;
    color: #9b9b9b;
}
.forgot:hover{
color: white;
}
.Entrance:hover{
    background-color: #9b9b9b;
    color: #363636;}
.create:hover{
    color: white;
}
a{
    color: #d1cccc;
}
.phone{
    display: flex;
    flex-direction: column;
    height: 60px;
    align-items: center;
    justify-content: space-around;
    width: 160px;
    background: #a8a9aa;
}
.phone_number{
    color: #d1cccc;
}
.phone_link{
    text-decoration: none;
}
.lnk:hover{
    color: black;
animation: clr 0.4s;
}
.sq:hover{
    color: black;
animation: clr 0.4s;
}
.phone_link:hover{
    color:black;
    animation: clr 0.4s;    
}
@keyframes clr{
from{
    color: #d1cccc;
}
to{
    color: black;
}
}
footer{
	height: 80px;
    background: #575656;
}
.footer_content{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footlnk{
    font-size: 18px;
}
.footlnk:hover{
    color: black;
}
