 body{
    background: #575656;
    font-family: Playfair Display;
/*    background: url("photo_2022-11-05_21-51-12.jpg"); */
    align-items: center;
}
.header{
    height: 60px;   
    width: auto;
    background: #575656;
}
.aboutus{
    display: flex;
    height: 60px;
    width: 1050px;
    float: right;
    background: #575656;
    padding-left: 30px ;
    margin-left: 30%;
}
.sq{
    color: #d1cccc;
    padding-left: 20px;
}
.alllink{
    font-size: 24px;
    color: #d1cccc;
}
.GW{
    width: 100px;
    height: 60px;
    background: rebeccapurple;
    font-size: 28px;
    line-height: 10%;
    position: absolute;
    padding-left: 5px;
}
.lnk{
line-height: 100%;
color: #d1cccc;
}
.pass{
    height: 40px;
    width: 150px;
    border-radius: 20px;
    background: url("pass.png") no-repeat scroll 7px 7px #d1cccc;
    background-size: 20px;
    padding-left: 30px;
}
.Entrance{
    height: 40px;
    width: 150px;
    border-radius: 20px;
    background: #d1cccc;
}
.email{    
    height: 40px;
    width: 150px;
    border-radius: 20px;
    background: url("email.png") no-repeat scroll 7px 7px #d1cccc;
    background-position:8px;
    background-size: 20px;
    padding-left: 30px;
}
.cool{
    width: 600px;
    height: 400px;
    margin-top: 200px;
    margin-left: 300px;
    background: #d1cccc;
    border-radius: 90px; ;
    align-items: center;
}
.create{
    position: relative;
    top: 100px;
}
a:hover{
color: black;
animation: clr 0.5s;
}
@keyframes clr{
from{
    color: #d1cccc;
}
to{
    color: black;
}
}