body{
    width: 100%;
    overflow-x: hidden;
    background: white;
    height: 7170px;
    position: absolute;
}
.block1{
    height: 1080px;
    width: 1920px;
    background-color: black;
    margin: -10px 0 0 -10px;
}
.block2{
    height: 920px;
    width: 105%;
    background-color: white;
    margin: 100px 0 0 0px;
}
.block3{
    height: 920px;
    width: 105%;
    background-color: white;
}
.imgMain{
    padding-left: 9%;
    width: 80%;
    height: 750px;
    margin-top: -170px;
}
.header{
    height: 80px;   
    width: 99%;
    background: rgb(0, 0, 0);
    position: fixed;
    z-index: 3;
    float: right;
}
.GW{
    width: 100px;
    height: 60px;
    background: black;
    font-size: 28px;
    line-height: 10%;
    position: absolute;
    padding: 15px 0 0 20px;
}
.GWlink{
    line-height: 100%;
    color: #d1cccc;
}
.GWlink:hover{
    color: #797878;
    animation: clr 0.4s;
}
.aboutus{
    margin-top: 10px;
    display: flex;
    height: 60px;
    width: 1400px;
    float: right;
    background: rgb(0, 0, 0);
}
.alllink{
    padding-top: 15px;
    font-size: 35px;
    color: #d1cccc;
}
.sq{
    color: #d1cccc;
    padding-left: 30px;
}
.sq:hover{
    color: #797878;
    animation: clr 0.4s;
}
@keyframes clr{
from{
    color: #d1cccc;
}
to{
    color: #797878;
}
}
.stock{
    position: relative;
    top: 550px;
    left: 50px;
    width: 400px;
    height: 250px;
    border: white 1px solid;
    font-size: 48px;
    color: white;
    font-weight: bold;
    line-height: 40%;
} 
.buttonMore{
    position: relative;
    top: 490px;
    left: 75%;
    width: 260px;
    height: 60px;
    border: rgb(255, 255, 255) 1px solid;
    background-color: rgba(255, 255, 255, 0);
    font-size: 48px;
    border-radius: 16px;
}
.linkMore{
    padding: 0 0 0 20px;
    color: #ffffff;
    font-weight:normal;
    text-decoration: none;
}
.buttonMore:hover{
    background: white;
    border: black 1px solid;
}
.buttonMore:hover .linkMore{
    color: #2A487C;
}
.img2{
    display: inline-block;
    position: relative;
    left: 120%;
    top: -330px;
}
.img3{
    height: 700px;
    width: 900px;
    padding-left: 250px;
    margin-top: -20%;
}
.img4{
    height: 700px;
    width: 900px;
    padding-left: 500px;
    margin-top: -20%;
}
.info{ 
    position: absolute;
    height: 270px;
    width: 600px;
    margin-left: 350px;
    margin-top: 80px ;
    font-size: 25px;
}
.info2{
    text-align: center;
    margin-top: -300px;
    margin-left: -80px;
    width: 1300px;
}
.txt1{
    text-justify: newspaper;
    zoom:1;
    text-align-last: justify;
}
.bus{
    padding-right: 100px;
    width: 200px;
    display: inline-block;
}
.dum{
    padding-right: 100px;
    display: inline-block;
    width: 200px;
}
.arm{
    display: inline-block;
    width: 150px;
}
.hr {
    border: none;
    background-color: #797878; 
    color: #797878; 
    height: 2px;
}