body{
    background: black;
    font-family: Playfair Display;
    height: 100%;
    align-items: center;
}
.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;   
    background: #575656;
}
.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.aboutus{
    height: 60px;
    width: 90%;
    display: flex;
    background: linear-gradient(90deg, #575656 0%, #68686b 35%, #a8a9aa 100%);
    margin-left: 10%;
    font-size: 24px;
    color: #9b9b9b;
}
.sq{
    color: #d1cccc;
    padding-left: 40px;
}
